body{
    background-image: linear-gradient(to top, #d0a530 0%, #675e08 100%);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
backdrop-filter: blur(10px);



}
header h2{
    color: white;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 4px #000;
    text-align: center;
}

.sliderImg img{

    width: 880px;
    height: 500px;
    margin:100px;
    border: 4px solid #fdf9f9;
    border-radius: 10px;
 box-shadow: 2px 2px 4px #0e0d0d;

}
.slider{

    position: relative;

width: 100%;

height: 100vh;
margin: auto;
overflow: hidden;
height: 780px;

}
.sliderIzquierdo{
    box-shadow: 0 0 10px rgba(255, 255, 255, .6);
   line-height:70px ;
    position: absolute;
    border: 2px solid black;
    width: 70px;
    height: 70px;
    background: transparent ;
    font-size: 40px;
    border-radius: 50%;
    transition: all .9s ease;
    top:760px;
    right:750px
}
.sliderDerecho{
    box-shadow: 0 0 10px rgba(255, 255, 255, .6);
    line-height:70px ;
    position: absolute;
    background: transparent ;
    width: 70px;
    height: 70px;
    font-size: 40px;
    border: 2px solid black;
    border-radius: 50%;
    transition: all .9s ease;
    top:760px;
    left:750px

}
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;


}
footer img{
    opacity: 0;
}
footer p{
    color:aliceblue;
    font-size: 40px;
    border:1px solid black;
    border-radius: 50%;
    padding: 10px;
    background: #000;
}

.sliderIzquierdo:hover{
    cursor:pointer;
    transform: translate(1.2,1.2);
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(255, 255, 255, .6);
    background-color: #fff;
}
.sliderDerecho:hover{
    cursor:pointer;
    transform: translate(1.2,1.2);
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(255, 255, 255, .6);
    background-color: #fff;
}
footer:hover img{
    opacity: 1;
    transition: all.5s ease;
    text-align: center;}

